# DevTrack Server Environment Variables

# App Config
PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=devtrack_db

# Security & JWT Token Config
JWT_SECRET=devtrack_super_secret_jwt_key_2026_interview_demo
JWT_EXPIRES_IN=7d
